anyio==4.13.0             # via httpx
asyncio==4.0.0            # via -r requirements.in
certifi==2026.2.25        # via httpcore, httpx, requests
charset-normalizer==3.4.7  # via requests
dotenv==0.9.9             # via -r requirements.in
h11==0.16.0               # via httpcore
httpcore==1.0.9           # via httpx
httpx==0.28.1             # via -r requirements.in
idna==3.12                # via anyio, httpx, requests
python-dotenv==1.2.2      # via dotenv
requests==2.33.1          # via resend
resend==2.29.0            # via -r requirements.in
typing-extensions==4.15.0  # via resend
urllib3==2.6.3            # via requests
